* {
    margin: 0;
    padding: 0;
    
}
body
{
  background-image: url(img/LimeGreen.png);  
  background-size: cover;
    
    
}
nav{
    width: 100%;
    height: 60px;
    background-color: #008000;
    
    
    
}
nav p{
    font-family: arial;
    color: #222;
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding: 0px 22px;
    
}

nav ul{
    float: left;
}
nav ul li {
    
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a{
    display: block;
    font-family: arial;
    color: #222;
    font-size: 18px;
    padding: 22px 14px;
    text-decoration: none;
}

nav ul li ul{
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 18px;
    border-radius: 0px 0px 4px 4px;
}
nav ul li:hover ul{
    display: block;
    
}
nav ul li ul li {
   width: 180px; 
   border-radius: 4px;
}
nav ul li ul li a{
   padding: 12px 14px; 
}

nav ul li ul li a:hover{
   background-color: #f3f3f3; 
}